<p style="text-align:center"><strong>HỘI SINH VIÊN TRƯỜNG ĐẠI HỌC CÔNG NGHỆ THÔNG TIN</strong></p><p
        style="text-align:center"><strong>LIÊN CHI HỘI KHOA HỌC MÁY TÍNH</strong></p><p style="text-align:center"><span
        style="font-size:24px"><strong><span
        style="color:#ff8c00">QUY ĐỊNH HỆ THỐNG THI UIT - ACM</span></strong></span></p><p><strong><em><span
        style="color:#002360">Dùng chung cho tất cả cuộc thi lập trình hình thức ACM/ICPC do BTC UIT-ACM đăng cai, tổ chức</span></em></strong>
</p><p><strong><span style="color:#c81500">*Danh sách các cuộc thi trong hệ thống tính điểm*</span></strong></p>
<ul>
    <li>Cuộc thi lập trình UIT-ACM.</li>
    <li>Cuộc thi lập trình UIT-ACM online.</li>
    <li>Vòng Warm-up ACM/ICPC các khu vực Quốc gia.</li>
    <li>Vòng online Quốc gia ACM/ICPC.</li>
</ul><p><strong><em><span style="color:#002360">Hệ thống thi UIT</span><span style="color:#002360">-</span><span
        style="color:#002360">ACM được tính dựa trên UIT</span><span style="color:#002360">-</span><span
        style="color:#002360">ACM INDEX</span></em><span style="color:#002360">.</span></strong></p><p><strong><span
        style="color:#c81500">*Cách tính UIT-ACM INDEX cho mỗi vòng thi*</span></strong></p><p
        style="text-align:center"><!--[if gte vml 1]><![endif]--><!--[if !vml]--><img
        src="http://acm.uit.edu.vn/upload/image/attachment-09-58-29-28-04-16_20_2-1.jpg"
        style="height:19px; margin:0 auto; width:494px"/></p>
<p style="text-align:center"><strong><span style="color:#fc1d00">(Điểm cộng sau mỗi vòng thi = <Hệ số điểm của vòng thi>*<số
        bài giải được> + <Điểm xếp hạng>)</span></strong></p><p>Bảng tính điểm chi tiết cho UIT-ACM INDEX dựa trên các
    vòng thi:</p><p> </p>
<table cellspacing="0" cellpadding="0" border="1" align="center" style="width:634px">
    <tbody>
    <tr>
        <td rowspan="2" style="height:116px; width:237px"><p style="text-align:center"><strong>Cuộc thi</strong></p>
        </td>
        <td rowspan="2" style="height:116px; width:91px"><p style="text-align:center"><strong>Thời gian</strong></p>
        </td>
        <td rowspan="2" style="height:116px; width:80px"><p style="text-align:center"><strong>Hệ số điểm</strong></p>
        </td>
        <td colspan="5" style="height:58px; width:221px"><p style="text-align:center"><strong>Điểm cộng xếp
            hạng</strong></p></td>
    </tr>
    <tr>
        <td style="height:58px; width:44px"><p style="text-align:center"><strong>1</strong></p></td>
        <td style="height:58px; width:42px"><p style="text-align:center"><strong>2</strong></p></td>
        <td style="height:58px; width:44px"><p style="text-align:center"><strong>3</strong></p></td>
        <td style="height:58px; width:41px"><p style="text-align:center"><strong>4</strong></p></td>
        <td style="height:58px; width:50px"><p style="text-align:center"><strong>5</strong></p></td>
    </tr>
    <tr>
        <td style="height:58px; width:237px"><p>  UIT-ACM online 1</p></td>
        <td style="height:58px; width:91px"><p style="text-align:center">Tháng 11</p></td>
        <td style="height:58px; width:80px"><p style="text-align:center">100</p></td>
        <td style="height:58px; width:44px"><p style="text-align:center">50</p></td>
        <td style="height:58px; width:42px"><p style="text-align:center">40</p></td>
        <td style="height:58px; width:44px"><p style="text-align:center">30</p></td>
        <td style="height:58px; width:41px"><p style="text-align:center">20</p></td>
        <td style="height:58px; width:50px"><p style="text-align:center">10</p></td>
    </tr>
    <tr>
        <td style="height:58px; width:237px"><p>  UIT-ACM online 2</p></td>
        <td style="height:58px; width:91px"><p style="text-align:center">Tháng 1</p></td>
        <td style="height:58px; width:80px"><p style="text-align:center">100</p></td>
        <td style="height:58px; width:44px"><p style="text-align:center">50</p></td>
        <td style="height:58px; width:42px"><p style="text-align:center">40</p></td>
        <td style="height:58px; width:44px"><p style="text-align:center">30</p></td>
        <td style="height:58px; width:41px"><p style="text-align:center">20</p></td>
        <td style="height:58px; width:50px"><p style="text-align:center">10</p></td>
    </tr>
    <tr>
        <td style="height:58px; width:237px"><p>  UIT-ACM online 3</p></td>
        <td style="height:58px; width:91px"><p style="text-align:center">Tháng 3</p></td>
        <td style="height:58px; width:80px"><p style="text-align:center">100</p></td>
        <td style="height:58px; width:44px"><p style="text-align:center">50</p></td>
        <td style="height:58px; width:42px"><p style="text-align:center">40</p></td>
        <td style="height:58px; width:44px"><p style="text-align:center">30</p></td>
        <td style="height:58px; width:41px"><p style="text-align:center">20</p></td>
        <td style="height:58px; width:50px"><p style="text-align:center">10</p></td>
    </tr>
    <tr>
        <td style="height:79px; width:237px"><p>  UIT-ACM lần 1</p></td>
        <td style="height:79px; width:91px"><p style="text-align:center">Tháng 4 (5)</p></td>
        <td style="height:79px; width:80px"><p style="text-align:center">300</p></td>
        <td style="height:79px; width:44px"><p style="text-align:center">150</p></td>
        <td style="height:79px; width:42px"><p style="text-align:center">120</p></td>
        <td style="height:79px; width:44px"><p style="text-align:center">90</p></td>
        <td style="height:79px; width:41px"><p style="text-align:center">60</p></td>
        <td style="height:79px; width:50px"><p style="text-align:center">30</p></td>
    </tr>
    <tr>
        <td style="height:79px; width:237px"><p>  UIT-ACM online 4</p></td>
        <td style="height:79px; width:91px"><p style="text-align:center">Tháng 7 (8)</p></td>
        <td style="height:79px; width:80px"><p style="text-align:center">100</p></td>
        <td style="height:79px; width:44px"><p style="text-align:center">50</p></td>
        <td style="height:79px; width:42px"><p style="text-align:center">40</p></td>
        <td style="height:79px; width:44px"><p style="text-align:center">30</p></td>
        <td style="height:79px; width:41px"><p style="text-align:center">20</p></td>
        <td style="height:79px; width:50px"><p style="text-align:center">10</p></td>
    </tr>
    <tr>
        <td style="height:79px; width:237px"><p>  UIT-ACM lần 2</p></td>
        <td style="height:79px; width:91px"><p style="text-align:center">Tháng 9 (10)</p></td>
        <td style="height:79px; width:80px"><p style="text-align:center">300</p></td>
        <td style="height:79px; width:44px"><p style="text-align:center">150</p></td>
        <td style="height:79px; width:42px"><p style="text-align:center">120</p></td>
        <td style="height:79px; width:44px"><p style="text-align:center">90</p></td>
        <td style="height:79px; width:41px"><p style="text-align:center">60</p></td>
        <td style="height:79px; width:50px"><p style="text-align:center">30</p></td>
    </tr>
    <tr>
        <td style="height:79px; width:237px"><p>  ACM/ICPC Warmup Quốc gia</p></td>
        <td style="height:79px; width:91px"><p style="text-align:center">Tháng 9 (10)</p></td>
        <td style="height:79px; width:80px"><p style="text-align:center">200</p></td>
        <td style="height:79px; width:44px"><p style="text-align:center">100</p></td>
        <td style="height:79px; width:42px"><p style="text-align:center">80</p></td>
        <td style="height:79px; width:44px"><p style="text-align:center">60</p></td>
        <td style="height:79px; width:41px"><p style="text-align:center">40</p></td>
        <td style="height:79px; width:50px"><p style="text-align:center">20</p></td>
    </tr>
    <tr>
        <td style="height:68px; width:237px"><p>  ACM/ICPC online Quốc gia</p></td>
        <td style="height:68px; width:91px"><p style="text-align:center">Tháng 10</p></td>
        <td style="height:68px; width:80px"><p style="text-align:center">300</p></td>
        <td style="height:68px; width:44px"><p style="text-align:center">150</p></td>
        <td style="height:68px; width:42px"><p style="text-align:center">120</p></td>
        <td style="height:68px; width:44px"><p style="text-align:center">90</p></td>
        <td style="height:68px; width:41px"><p style="text-align:center">60</p></td>
        <td style="height:68px; width:50px"><p style="text-align:center">30</p></td>
    </tr>
    </tbody>
</table><p> </p><p><strong>* Lưu ý:</strong></p>
<ul>
    <li>Tất cả các thí sinh muốn tham gia các hình thức ACM/ICPC (trường hoặc Quốc gia) phải đăng ký tài khoản tại
        http://acm.uit.edu.vn
    </li>
    <li>Các vòng thi online phải là vòng thi công khai, thông báo qua hệ thống forum, Website (loại trừ các cuộc thi ở
        các lớp huấn luyện).
    </li>
    <li>Chỉ các vòng Warmup quốc gia hoàn chỉnh (không có sự cố) mới được công nhận tính điểm.</li>
    <li>Đối với các cuộc thi theo team: Điểm sẽ được cộng đều cho tất cả các thành viên tại team có thứ hạng tương
        ứng.
    </li>
</ul><p><strong><em><span style="color:#002360">Cách xếp hạng các vòng thi offline:</span></em></strong></p>
<ul style="list-style-type:disc">
    <li>Xếp hạng theo luật <span style="color:#fc1d00">ACM/ICPC.</span></li>
</ul><p><strong><em><span style="color:#002360">Cách xếp hạng</span></em><em><span style="color:#002360">các vòng thi online (không tính các vòng Warmup và Online quốc gia)</span></em><span
        style="color:#002360">:</span></strong></p>
<ul>
    <li>Xếp hạng theo điểm <strong><span style="color:#fc1d00">OnlineScore</span></strong><span
            style="color:#fc1d00">:</span></li>
</ul><p style="text-align:center"><!--[if gte vml 1]><![endif]--><!--[if !vml]--><img
        src="http://acm.uit.edu.vn/upload/image/attachment-09-58-29-28-04-16_20_2-2.jpg"
        style="height:19px; margin:0 auto; width:309px"/></p>
<p style="text-align:center"><em><span style="color:#fc1d00">OnlineScore</span></em><span style="color:#fc1d00">= <hệ
        số>*<Tổng số bài giải được>+<điểm thưởng></span></p>
<ul>
    <li>Nếu các đội bằng điểm thì tính ưu tiền cho số đội có số bài giải được nhiều hơn, nếu số bài bằng dựa trên tổng
        thời gian các bài thi cộng lại.<br/> 
    </li>
    <li>Hệ số dựa trên năm học:</li>
</ul>
<div align="center">
    <table cellspacing="0" cellpadding="0" border="1" style="width:272px">
        <tbody>
        <tr>
            <td style="width:57px"><p style="text-align:center">Năm 1</p></td>
            <td style="width:60px"><p style="text-align:center">Năm 2</p></td>
            <td style="width:51px"><p style="text-align:center">Năm 3</p></td>
            <td style="width:104px"><p style="text-align:center">Năm 4 trở lên</p></td>
        </tr>
        <tr>
            <td style="width:57px"><p style="text-align:center">1.75</p></td>
            <td style="width:60px"><p style="text-align:center">1.5</p></td>
            <td style="width:51px"><p style="text-align:center">1.25</p></td>
            <td style="width:104px"><p style="text-align:center">1.0</p></td>
        </tr>
        </tbody>
    </table>
</div>
<ul>
    <li>Điểm thưởng:</li>
</ul><p><strong>          +1</strong> cho 1 thí sinh cải thiện thứ hạng tốt nhất mỗi vòng (dựa trên chênh lệch rank của
    vòng online liền kề trước). Nếu nhiều thí sinh cùng mức độ cải thiện, điểm cộng cho tất cả các team. Điều kiện: tại
    vòng online liền kề trước cá nhân đó phải tham gia và giải được ít nhất 1 bài.</p><p> </p><p
        style="text-align:right"><strong><span style="color:#fc1d00">BTC UIT - ACM</span></strong></p>