<p style="text-align: justify;"><strong>Trường Đại học Công nghệ Thông tin</strong> (tên tiếng Anh là University of
    Information Technology - viết tắt là UIT) là đơn vị thành viên của Đại học Quốc gia Thành phố Hồ Chí Minh. UIT được
    thành lập vào ngày 08/6/2006 trên cơ sở trung tâm phát triển CNTT – ĐHQG – TPHCM với mục tiêu đào tạo nguồn nhân lực
    CNTT cho thành phố và chuyển giao công nghệ, nghiên cứu khoa học trong lĩnh vực CNTT.</p><p
        style="text-align: justify;">Địa chỉ : KP6, Phường Linh Trung, Quận Thủ Đức, Thành phố Hồ Chí Minh.</p><p
        style="text-align: justify;">Điện thoại : (08) 3725 2002</p><p style="text-align: justify;">Website : <a
        href="http://www.uit.edu.vn">http://www.uit.edu.vn</a></p><p style="text-align: justify;">Hiện nay Trường ĐH
    CNTT có hơn 4000 sinh viên, học viên thuộc các hệ đào tạo cử nhân, kỹ sư, thạc sĩ và tiến sĩ chuyên ngành công nghệ
    thông tin. Riêng hệ Đại học, trường đào tạo hệ chính quy và xét tuyển hệ cử nhân đào tạo từ xa qua mạng.</p><p
        style="text-align: justify;"><strong>Hệ thống thi lập trình UIT</strong> <strong>ACM </strong>mô phỏng theo cuộc
    thi ACM/ICPC (ACM International Collegiate Programming Contest) - cuộc thi lập trình quốc tế cho sinh viên các
    trường đại học và cao đẳng lớn nhất toàn cầu. Cuộc thi lập trình UIT – ACM là một cơ hội cho sinh viên trường đại
    học Công nghệ thông tin rèn luyện các kỹ năng giải quyết vấn đề về lập trình. Cuộc thi do Liên chi Hội khoa Khoa học
    máy tính tổ chức dưới sự chỉ đạo của phòng Công tác Sinh viên cùng với Hội Sinh Viên trường.</p><p
        style="text-align: justify;">Website:         <a href="http://acm.uit.edu.vn">http://acm.uit.edu.vn</a></p><p
        style="text-align: justify;">Facebook:      <a href="https://www.facebook.com/uit.acm">https://www.facebook.com/uit.acm</a>
</p><p style="text-align: justify;">Forum:           <a href="https://forum.uit.edu.vn">https://forum.uit.edu.vn</a></p>