<p style="text-align:center"><span
        style="font-size:14px"><strong>HỘI SINH VIÊN TRƯỜNG ĐẠI HỌC CÔNG NGHỆ THÔNG TIN</strong></span></p><p
        style="text-align:center"><span style="font-size:14px"><strong>LIÊN CHI HỘI KHOA HỌC MÁY TÍNH</strong></span>
</p><p style="text-align:center"><span style="color:#ffa500"><span
        style="font-size:20px"><strong>QUY ĐỊNH CHUNG</strong></span></span></p><p><span
        style="font-size:16px"><em><strong><span style="color:#ff0000">1. Nội dung cuộc thi:</span></strong></em></span>
</p>
<ul>
    <li style="text-align:justify">Là phần thi giải một số bài toán cụ thể trên máy tính bằng tiếng Anh, nhằm khuyến
        khích thực hiện giải quyết các bài toán bằng chương trình hoàn thiện, không có lỗi, đồng thời khuyến khích phong
        cách làm việc tập thể, ngôn ngữ quốc tế, tính cộng đồng trong lĩnh vực CNTT.
    </li>
    <li style="text-align:justify">Mô phỏng lại kỳ thi lập trình sinh viên Quốc tế ACM/ICPC. Chi tiết tại
        http://olp.vn/acm-icpc/thong-tin.
    </li>
</ul><p style="text-align:justify"><span style="font-size:16px"><span style="color:#ff0000"><em><strong>2. Hình thức thi:</strong></em></span></span>
</p>
<ul>
    <li style="text-align:justify">Mỗi đội dự thi được phát 01 đề thi bằng Tiếng Anh. Mỗi đội sẽ làm việc trên 01 PC,
        khi làm xong bài nào, các đội nộp bài qua hệ thống DomJudge để đề nghị BGK chấm ngay bài đó. Bài thi sau khi
        chấm, nếu vượt qua toàn bộ số test mới được tính điểm. 
    </li>
</ul><p style="text-align:justify"><span style="font-size:16px"><span style="color:#ff0000"><strong><em>3. Cách thức nộp bài và chấm bài</em>:</strong></span></span>
</p>
<ul>
    <li style="text-align:justify">Các bài thi đề nghị chấm phải ở dạng mã nguồn C/C++ hoặc Java và nộp cho BGK thông
        qua hệ thống DomJudge. 
    </li>
</ul><p style="text-align:justify"><span style="font-size:16px"><span style="color:#ff0000"><em><strong>4. Os, Compiler, IDE và editor:</strong></em></span></span>
</p>
<ul>
    <li style="text-align:justify">OS : Windows 7</li>
    <li style="text-align:justify">Compiler: Java (6.0 standard edition or newer), C/C++ GCC - 6.1.0.</li>
    <li style="text-align:justify">IDE và editor: Code::Blocks(C/C++) 16.01. Ellipse (Java)<br/> </li>
</ul><p style="text-align:justify"><em><span style="color:#ff0000"><span style="font-size:16px"><strong>*Thông tin và đăng ký tham gia các cuộc thi*</strong></span></span></em>
</p>
<ul>
    <li style="text-align:justify">Trang tin chính thức của cuộc thi gồm <a href="http://acm.uit.edu.vn/">http://acm.uit.edu.vn/</a>,
        <a href="https://www.facebook.com/uit.acm">https://www.facebook.com/uit.acm</a> hoặc trang tin khác được xác
        nhận từ hai trang trên. Mọi thông tin từ nguồn khác đều không phải do BTC chịu trách nhiệm.
    </li>
    <li style="text-align:justify">Tất cả các cá nhân muốn tham gia cuộc thi (cá nhân hoặc đồng đội) đều phải đăng ký
        tài khoản tại website UIT-ACM (xác nhận bằng MSSV).
    </li>
    <li style="text-align:justify">Đối với vòng thi Offline thời hạn đăng ký theo như thông báo của BTC hoặc đến khi đủ
        số lượng tối đa.
    </li>
    <li style="text-align:justify">Đối với vòng thi Offline các đội phải đăng ký và tham dự đúng với số lượng và thông
        tin mình đã đăng ký. Mọi thay đổi về thành phần đội phải được thông báo trước ít nhất 1 ngày của ngày test hệ
        thống (thi thử - nếu có).
    </li>
    <li style="text-align:justify">Đội có ít nhất 2 thành viên cùng thuộc đội đã đạt giải nhất thì sẽ không được tính
        giải thưởng chính trong cuộc thi trong 2 lần tổ chức thi gần nhất .
    </li>
</ul><p style="text-align:justify"><span style="font-size:16px"><span style="color:#ff0000"><em><strong>*Quy định phòng thi (dành cho cuộc thi offline)*</strong></em></span></span>
</p>
<ul>
    <li style="text-align:justify">Các đội phải vào khu vực thi đúng giờ qui định. Đội nào đến chậm quá 15 phút sau khi
        có hiệu lệnh bắt đầu làm bài thi sẽ không được quyền dự thi.
    </li>
    <li style="text-align:justify">Mỗi đội thi chỉ được phép mang vào tối đa 10 tờ (20 mặt) khổ giấy tối đa A4 tài liệu
        tham khảo bất kỳ, từ điển (nếu đề thi bằng tiếng Anh) và bút, giấy nháp Ban tổ chức sẽ cung cấp.
    </li>
    <li style="text-align:justify">Mỗi đội thi sẽ nhận được vị trí dự thi theo số báo danh hoặc vị trí dự thi của mình
        theo tên đội. Mỗi đội thi sẽ làm bài trên máy vi tính hoặc thiết bị do Ban tổ chức chuẩn bị. Ngoài những vật
        dụng được phép mang vào trong khi thi (theo quy chế và đăng ký trước) và các vật dụng được cấp phát thí sinh
        không được mang theo bất cứ tài liệu, hoặc trang bị tin học, viễn thông (di động, nhắn tin...) nào khác vào khu
        vực thi.
    </li>
    <li style="text-align:justify">Các đội thi có trách nhiệm kiểm tra thiết bị máy tính, thiết bị làm bài của mình,
        ngoài các chương trình đã được cài sẵn không được tự tiện cài đặt, trao đổi gì khác trên máy và chỉ làm bài và
        các đăng ký cần thiết theo hướng dẫn của giám thị khu vực thi.
    </li>
    <li style="text-align:justify">Trong khu vực thi thành viên của các đội thi không được dùng bất cứ hình thức nào để
        trao đổi, gửi hoặc nhận tài liệu và thông tin với bên ngoài (không phải đội mình). Tuyệt đối nghiêm cấm sử dụng
        điện thoại di động và các thiết bị truyền, nhắn tin.
    </li>
    <li style="text-align:justify">Khi có yêu cầu cần thiết đội thi phải đề nghị công khai với giám thị khu vực thi.
        Những vấn đề liên quan đến nội dung thi, nếu cần giải đáp, giám thị sẽ thực hiện công khai trước toàn thể khu
        vực thi.
    </li>
    <li style="text-align:justify">Khi có sự cố kỹ thuật về thiết bị máy tính hoặc thiết bị lưu trữ, đội thi có quyền
        yêu cầu giám thị xem xét, giải quyết. Giám thị lập biên bản và theo điều kiện thực tế có thể quyết định kéo dài
        thêm thời gian làm bài bị mất vì sự cố nếu thấy cần thiết.
    </li>
    <li style="text-align:justify">Đội thi không được đánh dấu bài thi dưới bất kỳ hình thức nào.</li>
    <li style="text-align:justify">Một tiếng trước khi hết giờ sẽ có thông báo và dừng truyền công khai kết quả trực
        tuyến. BTC sẽ thông báo liên tục thời gian ở những phút cuối cùng để các đội nộp bài trực tuyến.
    </li>
    <li style="text-align:justify">Mọi trường hợp vi phạm sẽ đều bị xử lý, tuỳ theo lỗi nặng nhẹ mà có thể bị nhắc nhở,
        cảnh cáo, trừ điểm, huỷ kết quả thi.
    </li>
    <li style="text-align:justify">Hiệu lệnh: BTC sẽ có các hiệu lện sau để thông báo</li>
    <li style="text-align:justify">Hiệu phát lệnh báo hiệu vào khu vực thi.</li>
    <li style="text-align:justify">Hiệu lệnh thông báo bắt đầu làm bài thi.</li>
    <li style="text-align:justify">Hiệu lệnh báo chuẩn bị hết giờ làm bài theo thông báo bằng lời của giám thị.</li>
    <li style="text-align:justify">Hiệu lệnh hết giờ làm bài thi, thí sinh thực hiện các thủ tục nộp bài và ký xác
        nhận.
    </li>
</ul><p style="text-align:justify"><span style="color:#ff0000"><span style="font-size:16px"><em><strong>*Quy định dành cho các cuộc thi Online*</strong></em></span></span>
</p>
<ul>
    <li style="text-align:justify">Bất kỳ trường hợp gian lận nào được phát hiện đều bị huỷ kết quả.</li>
</ul><p style="text-align:justify"><span style="color:#ff0000"><span style="font-size:16px"><em><strong>* Quyền lợi của thí sinh, quyền hạn của Ban tổ chức *</strong></em></span></span>
</p>
<ul>
    <li style="text-align:justify">Điểm rèn luyện: Mỗi thành viên trong đội tham gia chỉ được tính điểm rèn luyện và xác
        nhận tham gia cuộc thi học thuật cấp trường khi giải được ít nhất 1 bài trở lên ở bất kỳ cuộc offline nào.
    </li>
    <li style="text-align:justify">Giấy chứng nhận: Các đội giải được từ <strong>50% tổng số bài</strong> trở lên tại
        một kỳ thi offline sẽ được cấp giấy chứng nhận đã hoàn thành cuộc thi học thuật cấp Trường do phòng Công tác
        sinh viên cấp nếu có yêu cầu.
    </li>
    <li style="text-align:justify">Quyết định của BTC là quyết định cao nhất và cuối cùng.</li>
</ul><p style="text-align:right"><br/><span style="color:#ff0000"><strong>BTC UIT - ACM</strong></span></p>