/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
    margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.carousel-control i {
    margin-top: 80%;
    top: 0;
    font-size: 50pt;
}

.navbar-christmas {
    background: #bf2b43;
}

.navbar-christmas .navbar-nav li a {
    color: #fff
}

.navbar-christmas .navbar-nav li a:hover {
    color: #fff
}

.brand-circle {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    background: #a10200;
    color: #fff;
}

.brand-circle:hover{
    background: #33b0f3;
    color: #fff
}