/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
    margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
    margin-top: 20px;
}

.carousel-control i {
    margin-top: 80%;
    top: 0;
    font-size: 50pt;
}

.navbar-christmas {
    background: #bf2b43;
}

.navbar-christmas .navbar-nav li a {
    color: #fff
}

.navbar-christmas .navbar-nav li a:hover {
    color: #fff
}

.float-cart {
    position: fixed;
    bottom: 20px;
    right: 2%;
    background: #ff0000;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    z-index: 2;
}

.float-cart a {
    color: #fff;
}

.float-cart .no-product {
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 5px;
    background: #ffd700;
    color: #333;
    font-weight: bold;
    font-size: 15px;
    height: 25px;
    line-height: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.brand-circle {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    background: #a10200;
    color: #fff;
}

.brand-circle:hover {
    background: #33b0f3;
    color: #fff
}

.required:after {
    content: ' *';
    color: #ff0000;
    font-weight: bold;
}

.has-error .tooltip-inner {
    background: #c15d5e;
}

.has-error .tooltip-arrow {
    border-top-color: #c15d5e !important;
}

.footer-dark {
    background: #373737;
    color: #fff;
    margin-top: 20px;
}

.float-alert {
    position: fixed;
    right: 2%;
    top: 15px;
    z-index: 3000;
}

.logo {
    padding: 0;
    margin-top: -20px;
}

.product {
    position: relative;
    float: left;
    width: 100%;
    border: solid 1px #ddd;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 15px 0;
    height: 400px;
    padding: 15px;
    box-shadow: inset 0 0 15px 0 #ffc0c0;
    overflow: hidden;
}

.product img {
    margin: 0 auto;
    max-height: 100%;
}

.product .product-info {
    position: absolute;
    left: 0;
    bottom: -400px;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 20px 20px 60px 20px;
    color: #fff;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.product .product-info a {
    color: #fff;
}

.product .product-footer {
    position: absolute;
    background: #d1383c;
    font-size: 18px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
}

.product .product-short-desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.product:hover .product-info {
    bottom: 0;
}

.product-info .thumbnail {
    height: 400px;
}

.product-info .thumbnail img {
    max-height: 100%;
}

.product-info .product-btn {
    margin: 15px 0;
}

.product-info .product-detail {
    border: solid 1px #ddd;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 15px;
}